.card {
  margin: 2rem auto;
  margin-top: 20px;
  box-sizing: border-box;
  padding: 24px;
  width: 1100px;
  gap: 24px;
}

.cardText {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.iconText {
  margin-top: 15px;

  margin-left: 8px;
}

.card img {
  width: 100%;
  height: 310px;
}
