.footer {
  margin-top: 10%;
}

.footerLink:link,
.footerLink:visited,
.footerLink:active {
  color: black;
  text-decoration: none;
}
.footerLink:hover {
  color: #0d28a6;
}

.footerLink p {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}
