body {
  font-family: "Helvetica", sans-serif;
}
.subTitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}
.inContent {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}
.inContentBold {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}
