.hero {
    background: #f1f3ff;
  }

.imgHero img{
   width: 119%;
}

.heroText {
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
  }

@media (max-width: 777px) {
    .hero {
      padding-top: 32px;
    }
  }
  
  @media (max-width: 777px) {
    .imgHero img {
      width: 100%;
    }
  }

  @media screen and (min-width: 992px) {
    /* Header Section */
    
    .tron-lead {
      margin-right: 20%;
    }
}