.navbar {
  background: #f1f3ff;
}
.navItem {
  margin-right: 32px;
}
.navLink {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: black;
  text-decoration: none;
  margin-top: 10px;
}

a:hover {
  color: #0d28a6;
}
