.banner {
  margin: 10% 3%;
  display: flex;
  justify-content: center;
}

.box {
  background: #0d28a6;
  border-radius: 13px;
  width: 100%;
  height: 326px;
  color: white;
}
.bannerContent p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
.text {
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  margin-top: 4%;
}

@media screen and (min-width: 992px) {
  .bannerContent p {
    margin: auto 30%;
  }
}
