.text {
  text-align: center;
}
.text p {
  margin-bottom: 5%;
}
.item {
  background-color: #f1f3ff;
  height: 270px;
  width: 619px;
  border-radius: 8px;
  margin: 32px;
}
.content {
  margin-top: 69px;
  margin-left: 80px;
}
.profile img {
  width: 80px !important;
  margin-top: 95px;
  margin-left: 46px;
}
.rate {
  width: 80px;
  height: 16px;
}
